* {
    margin: 0;
    padding: 0;
}

.mainDiv {
    display: flex;
    flex-direction: row;
}

.authImg {
    height: 990px;
    width: 690px;

}

/* .mainright{
    height: 50%;
    width: 50%;
  padding: 50px;
    background-color:  #F3F5F7;;
} */
.right {
    height: 400px;
    width: 350px;
    margin: 220px 110px;

}
.xtralogin{
    display: flex;
    justify-content: center;
}
.signup h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins;
}

.signup p {
    margin-top: 10px;
    color: grey;
}

.signup p a {
    color: rgb(9, 236, 9);
    font-weight: 500;
}



.formlabel {
    color: grey;
    margin-top: 10px;
    font-size: 16px;
}

.formtag input {
    border: 2px solid rgb(245, 238, 238);
    height: 35px;
    width: 400px;

}

.formtag {
    margin: 7px 0;
}

.form {
    margin-top: 20px;
}

.form p {
    color: grey;
    margin-top: 10px;

}

.form span {

    color: black;
}

.form button {
    height: 35px;
    width: 370px;
    background-color: black;
    color: white;
    font: 400;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
}

.form button:hover {
    cursor: pointer;
    background-color: rgb(34, 33, 33);
}

.fpwd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fpwd p {
    color: black;
    cursor: pointer;
}

.fpwd span {
    margin-top: 7px;
    color: grey;
}

/* home page  */

.topLine {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #F3F5F7;
    align-items: center;
    justify-content: center;
}

.topLine p span {
    color: rgb(26, 26, 240);
    text-decoration: underline;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 30px;
    margin: 10px auto;
}

/* .homepage { */
/* width: 80%; */
/* background-color: red; */
/* margin: auto; */
/* } */

.navLeft {
    font-size: 20px;
    font-weight: bold;
}

.navMid {
    display: flex;
    align-items: center;
}

.navMid p {
    margin: 0 15px;
    color: grey;
}

.navRight {
    display: flex;
    align-items: center;
}

.navRight p {
    margin: 0 10px;
    font-size: 20px;
}

.navRight:hover {
    cursor: pointer;
}

/* .home {
    width: 80%;
    margin: auto;
} */

.homeimg {
    width: 80%;
    margin: auto;
    height: 540px;

}

.shopimg {
    /* width: 80%;
        margin: auto; */
    height: 384px;
    /* position: relative; */
}

.imgshop {
    position: relative;
}

.imgshop h1 {
    position: absolute;
    top: 35%;
    left: 42%;
    font-size: 54px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 1px;
}

.imgshop p {
    position: absolute;
    top: 60%;
    left: 37%;
    font-weight: 400;
    font-family: Inter;
    font-size: 20px;

}

.content {
    display: flex;
    width: 80%;
    margin: 30px auto;
    height: 152px;

}

.thought {
    width: 50%;

}

.thought p {
    font-size: 72px;
    line-height: 76px;
    font-weight: 700;
    font-style: poppins;
    font-family: Poppins;
}

.thought p span {
    color: grey;
}

.sentenceContent {
    width: 45%;
    margin: auto;
    align-items: center;
}

.sentenceContent p {
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: grey;
}

.sentenceContent p span {
    color: black;
    font-weight: 200;
    font-weight: bold;
}

.threeproduct {
    width: 80%;
    display: flex;
    margin: auto;
    height: 650px;
}

.leftimg {
    width: 50%;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
}

.leftimg span {
    position: absolute;
    top: 17%;
    left: 12%;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    text-decoration: underline;
    text-underline-offset: 10px;

}

.leftimg span span {
    position: absolute;
    left: 80%;

}

.leftimg img {
    width: 600px;
    height: 640px;
}

.livingRoomTxt {
    position: absolute;
    top: 8%;
    left: 12%;
    font-size: 34px;
    font-weight: bold;
    font-family: Poppins;
}


.firstImg {
    position: relative;
    display: inline-block;
}

.firstImg span {
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.firstImg span span {
    position: absolute;
    left: 80%;
    top: 20%;
}

.secondImg {
    position: relative;
    display: inline-block;
}

.secondImg span {
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.secondImg span span {
    position: absolute;
    left: 80%;
    top: 20%;
}


.bedroomTxt {
    position: absolute;
    top: 60%;
    left: 6%;
    font-size: 34px;
    font-weight: bold;
    font-family: Poppins;
}

.kitchenTxt {
    position: absolute;
    bottom: 25%;
    left: 6%;
    font-size: 34px;
    font-weight: bold;
    font-family: Poppins;
}

.rightimages {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: -15px;
    width: 48%;
    /* background-color: red; */
}

.rightimages img {

    height: 335px;
    width: 539px;
}

/* part 6 */

.part6 {
    width: 80%;
    height: 270px;
    /* background-color: red; */
    margin: 30px auto 0 auto;
    display: flex;

}

.box {
    width: 262px;
    height: 220px;
    background-color: #F3F5F7;
    margin: 10px;
    padding: 30px;
    /* line-height: 40px; */
}

.box span {
    font-size: 40px;

}

.box h1 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.box p {
    font-size: 14px;
    font-family: Poppins;
    color: grey;
}

/* part7 */
.part7 {
    display: flex;
}

.part7right {
    position: relative;
    width: 48%;
    background-color: #F3F5F7;
}

.part7content {
    width: 452px;
    height: 200px;
    /* background-color: red; */
    position: absolute;
    top: 25%;
    left: 15%;
}

.part7content spaan {
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
    color: rgb(3, 146, 241);
}

.part7content h1 {
    font-size: 50px;
    line-height: 44px;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 15px;
}

.part7content p {
    font-family: Poppins;
    font-size: 22px;
    line-height: 32px;
    margin-top: 20px;
    color: rgb(77, 76, 76);
}

.part7content span {
    /* position: absolute;
    top: 100%;
    left: 7%; */
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.part7content span span {
    position: absolute;
    left: 21%;
    top: 111%;
}

.part7content div {
    margin-top: 30px;
}

/* part 8 */

.part8 {
    width: 1349px;
    height: 360px;
    position: relative;
    margin-top: -15px;
}

.part8 img {
    width: 1349px;
    height: 360px;
}

.part8content {
    width: 390px;
    height: 166px;
    position: absolute;
    top: 23%;
    left: 38%;
}

.part8content h1 {
    font-size: 44px;
    font-family: Poppins;
    font-weight: 500;
    font-weight: bold;
}

.part8content p {
    font-size: 18px;
    font-weight: 400;
    /* margin-left: -px; */
}

.part8Subcontent {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.part8Subcontent div {
    display: flex;
    align-items: center;
}

.part8Subcontent div p {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 17px;
}

.part8Subcontent p {
    margin-left: 5px;
}

/* footer */
.footer {
    background-color: black;
    height: 250px;
    margin-top: -14px;
    position: relative;
}

.firstline {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    /* margin: 30px  auto 0 auto; */
    /* margin: auto; */
    top: 30%;
    left: 7%;
}

/* .Ftleftcontent h1,
p ,span,
.Ftrightcontent p {
    color: white;
    margin: 0 20px;
} */

.Ftleftcontent h1 {
    color: white;
    font-size: 30px;
    margin: -12px 10px;
}

.Ftleftcontent p {
    color: rgb(141, 138, 138);
    margin: 0 10px;
}

.Ftleftcontent span {
    color: rgb(141, 138, 138);
    margin: 0 10px;
}

.Ftrightcontent p {
    color: rgb(141, 138, 138);
    margin: 0 10px;

}

.Ftleftcontent {
    display: flex;
}

.Ftrightcontent {
    display: flex;
}

.secondline {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    /* margin: 30px  auto 0 auto; */
    /* margin: auto; */
    top: 70%;
    left: 7%;
}

.secondleftline {
    display: flex;

}

.secondrightline {
    display: flex;
}

.secondleftline p {
    color: white;
    margin: 0 13px;
}

.secondleftline span {
    color: rgb(141, 138, 138);
    margin: 0 13px;
}

.secondrightline p {
    color: white;
    margin: 0 13px;
    font-size: 25px;
}

.hrline {
    position: absolute;
    border: 1px solid rgb(110, 108, 108);
    top: 58%;
    left: 8%;
    width: 1100px;
}

.admin {
    width: 130px;
    height: 30px;
    background-color: rgb(236, 85, 199);
    color: #F3F5F7;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.admin:hover {
    background-color: rgb(240, 106, 206);
}


/* living room product  */

.shop{
  
        width: 80%;
        margin: auto;
    
}
.livingroomproduct {

    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.price {
    display: flex;
}

.price p {
    margin: 0px 7px 0 0;
    font-weight: 600;
        font-size: 16px;
        font-family: Inter;
        line-height: 26px;
}
.rating{
    margin-top:10px;
    line-height: 26px;
    color: rgba(52, 56, 57, 1);
}
.title{
    font-weight: 600;
        font-size: 18px;
        font-family: Inter;
        line-height: 26px;
}
.priceBeforeDiscount{
    text-decoration: line-through;
        color: gray;
        margin-left: 10px;
}
.products {
    position: relative;
    /* margin-right: 17px; */
   
}

.products new {
    position: absolute;
    top: 5%;
    left: 3%;
    background-color: white;
    border-radius: 5px;
    padding: 0 12px;
    font-weight: 700;
    font-size: 16px;
    font-family: Inter;
}

.products fifty {
    position: absolute;
    top: 12.5%;
    left: 3%;
    background-color: rgba(56, 203, 137, 1);
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: Inter;
}